<div class="page-header">
  <%= link_to pedido_pedido_produtos_path(@pedido), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New pedido_produto</h1>
</div>

<%= render 'form' %>
